* {
  font-family: "Song Myung", serif;
}

.main_contain {
  width: 430px;
  margin: 10px auto auto auto;
}

.main_img {
  width: 430px;
  height: 250px;
  background-image: url(https://img.segye.com/content/image/2021/10/02/20211002502117.jpg);
  background-position: center;
  background-size: cover;
}

.col-auto {
  width: 430px;
}

.item_desc {
  width: 430px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-button {
  width: 100px;
  display: block;
  margin: 10px auto 20px auto;
}

.item-price {
  font-size: 20px;
}
